html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: #212226;
}

.home-description {
  color: #fff;
}

section {
  background: #fff;
  overflow: hidden;
}

/* home section */
#home {
  background: none;
  height: 100%;
}

/* background video */
.home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url("../video/solo.jpg") no-repeat;
  background-size: cover;
}

/* overlay background */
.over-lay-background {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* home content */
.home-content {
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
}

.home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

/* headings (h1, h2) */
.big-headings {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 100;
  display: inline-block;
}

.big-headings span {
  color: #f4c613;
  font-weight: 500
}

/* buttons */
.btn-bootstrap {
  font-family: 'Montserrat', sans-serif;
  border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px 12px 46px;
 -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-home {
  color: #fff;
  border: 1px solid#fff;
}

.btn-home:hover,
.btn-home:focus {
  color: #fff;
  background-color: #f4c613;
  border: 1px solid #f4c613;
}

/* about section part one section */
#about {
  vertical-align: middle;

}

.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

.text-rotate {
  color: #f4c613;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -53px;

}

.about-headings {
  margin: 0 0 0 35px;
  font-size: 1.5rem;

}

.about-paragraphs p :first-child {
  margin-top: 20px;
}

/* @media screen {
  margin-top: 40px;
} */

/* about us image */
 .about-image{
   padding: 80px 30px;
 }
 .image-text-about{
   margin-bottom: 20px;
   text-align: center;
   color: #323232;
 }


/* part two of about us section - still working on it */

/* .card {
  padding: 80px 30px;
 background-color: #fff;
 -webkit-box-shadow:0 0 10 rgba(0, 0, 0. .1);
  box-shadow: 0 0 10 rgba(0, 0, 0, .1);
} */

#about-2 {
  background-color: #f4f4f4;
}

.about-text {
  background-color: #fff;
  padding: 80px 30px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .1);
  box-shadow: 0 0 1px rgba(0, 0, 0, .1);
}

.about-text:hover {
  background-color: #f4c613;
}

.about-text {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.about-text i,
.about-text hr,
.about-text h5,
.about-text p {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.about-text:hover i {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.about-text:hover i,
.about-text:hover h5,
.about-text:hover p {
  color: #fff;
}

.about-text:hover hr {
  background-color: #fff;
}

.about-text h5 {
  font-size: 32px;
  margin-top: 14px;
}

.about-text p {
  text-align: center;
  margin-top: 10px;
}

.about-text hr {
  background-color: #f4c613;
  width: 45px;
  height: 3px;
  margin: 0 auto;
  border: none;
}
/* end of about section styling */


/*start of team section */
.team-content .about-headings{
 margin-bottom: 20px;
}
.team-member{
  margin: 8px;
  position: relative;
}
.team-member-overlay{
  background-color: rgba(33,34, 38, .8);
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all linear;
}
.team-member-info h6{
  margin: 0;
  color: #f4c613;
  font-size: 16px;
}
.team-member-info p{
  color: #fff;
}
.team-member-info{
 height: 100%;
 width: 100%;
  padding: 80px 0;
}
.team-member:hover .team-member-overlay{
  opacity: 1;
}
/* social icons */
ul.social-list{
padding: 0;
margin-top: 18px;
}
ul.social-list li{
  display: inline-block;
  padding: 0;
}
ul.social-list li a{
  color: #fff;
  border: 1px solid #fff;
  height: 35px;
  width: 35px;
  display: inline-block;
  border-radius: 50%;
  line-height: 35px;
  -webkit-transition:all 400ms linear ;
  transition: all 300ms linear;
}
ul.social-list li:nth-child(1) a:hover{
  background: #3b5998;
  border: transparent;
}
ul.social-list li:nth-child(2) a:hover{
  background: #7858A6;
  border: transparent;
}
ul.social-list li:nth-child(3) a:hover{
  background: #25D368;
  border: transparent;
}
.owl-theme .owl-nav [class*=owl-]{
  margin: 0 10px;
  color: #7858A6;
  font-size: 40px;
 
}
.owl-theme .owl-nav [class*=owl-] a:hover
{background:none;color:#212226;
}